# --- Core ---
streamlit>=1.18
numpy>=1.24
pillow>=9.0
matplotlib>=3.6
tqdm>=4.64
imageio>=2.31
opencv-python>=4.7
pandas==2.2.3
seaborn
scikit-learn
mediapipe==0.10.21
dlib==19.24.6
albumentations
imageio
ipython
ffmpeg-python>=0.3
requests>=2.28

# --- PyTorch CPU versions (REQUIRED for Streamlit Cloud) ---
torch==2.1.0+cpu
torchvision==0.16.0+cpu
torchaudio==2.1.0+cpu
--extra-index-url https://download.pytorch.org/whl/cpu
